<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> 
      Meu app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" class="ion-padding"> 

	Data Binding (ligação de dados)<br>

	<h1>{{titulo}}</h1>
	<h4>Event Biding</h4>
	<ion-item>
		<ion-label position="stacked">Seu nome:</ion-label>
		<ion-input (input)="atualiza()"></ion-input>
		
	</ion-item>

	<h4>Property Biding</h4>
	<ion-img [src]='imagemLocal'></ion-img>

	<h4>String interpolation</h4>
	{{titulo}}
	<ion-img src='{{imagemRandomica}}'></ion-img>

<!--
	<h4>Sistema de Grids</h4>
	<ion-grid>
		<ion-row>
			<ion-col size=9>
				Conteúdo 1
			</ion-col>
			<ion-col size=3>
				Conteúdo 2
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size=4>
				Conteúdo 1
			</ion-col>
			<ion-col size=4>
				Conteúdo 2
			</ion-col>
			<ion-col size=4>
				Conteúdo 3
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid>
		<ion-row>
			<ion-col size=12>
				Conteúdo 3
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid>
		<ion-row>
			<ion-col size=6>
				Conteúdo 1
			</ion-col>
			<ion-col size=3 offset="2">
				Conteúdo 2
			</ion-col>
		</ion-row>
	</ion-grid>
	
	<h4>Grid - alinhamento de textos(start, end, center</h4>

	<ion-grid>
		<ion-row >
			<ion-col size=4 class="ion-text-center">
				 1
			</ion-col>
			<ion-col size=4 class="ion-text-end">
				 2
			</ion-col>
			<ion-col size=4 class="ion-text-start">
				 3
			</ion-col>
		</ion-row>
	</ion-grid>

	<h4>Grid - alinhamento vertical</h4>
	<ion-grid>
		<ion-row class="ion-align-items-start">
			<ion-col size=4>
				 1
			</ion-col>
			<ion-col size=4>
				 2
			</ion-col>
			<ion-col size=4>
				 3 <br/>+<br/>+
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid>
		<ion-row class="ion-align-items-center">
			<ion-col size=4>
				 1
			</ion-col>
			<ion-col size=4>
				 2
			</ion-col>
			<ion-col size=4>
				 3 <br/>+<br/>+
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid>
		<ion-row class="ion-align-items-end">
			<ion-col size=4>
				 1
			</ion-col>
			<ion-col size=4>
				 2
			</ion-col>
			<ion-col size=4>
				 3 <br/>+<br/>+
			</ion-col>
		</ion-row>
	</ion-grid>
	


	<h4>Configurando entradas de dados(floating, fixed e stacked.</h4>
	<ion-item>
		<ion-label position="stacked">
			Seu nome:
		</ion-label>
		<ion-input></ion-input>
		
	</ion-item>
	<ion-item>
		<ion-label>
			Seu nome:
		</ion-label>
		<ion-input value="Yuri Andeson"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label>
			Seu nome:
		</ion-label>
		<ion-input placeholder="Digite seu nome"></ion-input>
	</ion-item>

	<h4>Tipos de entradas(text,number,password,email,tel,url,seach</h4>
	<ion-item>
		<ion-label>Seu nome:</ion-label>
		<ion-input type="text"></ion-input> 
	</ion-item>
	<ion-item>
		<ion-label>Seu numer:</ion-label>
		<ion-input type="number"></ion-input> 
	</ion-item>




	<h4>Listas</h4>
	<ion-lista>
		<ion-item>
			<ion-label>
			1.lorem ypsum dolor sit amet
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>
			1.lorem ypsum dolor sit amet
			</ion-label>
		</ion-item>
	</ion-lista>

	<h4>Listas com avatar</h4>
	<ion-lista>
		<ion-item>
			<ion-avatar slot="start">
			<ion-img src="https://source.unsplash.com/random/200x200"></ion-img>	
			</ion-avatar>
			<ion-label>
			YURI ANDERSON
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-avatar>
			<ion-img src="https://source.unsplash.com/random/200x200"></ion-img>	
			</ion-avatar>
			<ion-label>
			RUAN LOBO
			</ion-label>
		</ion-item>
	</ion-lista>

	<h4>Listas slide</h4>
	<ion-list>
		<ion-item-sliding>
			<ion-item>
				<ion-label>
					YURI ANDERSON
				</ion-label>
			</ion-item>
			<ion-item-options>
				<ion-item-option>
					Alterar
				</ion-item-option>
				<ion-item-option>
					Excluir
				</ion-item-option>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>



	<h4>Catões com listagem de itens</h4>
	
		<ion-card>
			<ion-item href="https://google.com.br"> 
				<ion-icon slot="start" name="add"></ion-icon>
				<ion-label>
					1.lorem ypsum dolor sit amet
				</ion-label>
			</ion-item>
			<ion-item>
				<ion-icon slot="start" name="star"></ion-icon>
				<ion-label>
					1.lorem ypsum dolor sit amet
				</ion-label>
			</ion-item>
		</ion-card>
		
	





	<h4>Catões</h4>
	<ion-card color="danger">
		<ion-img src="https://source.unsplash.com/random/800x600"></ion-img>
		<ion-card-title>
				lorem ypsum dolore sit met
		</ion-card-title>
			<p>ola bom dia meu nome e yuri , estou aprendendo a usar o ionic</p>

	</ion-card>

	<h4>Catões com cabeçalho</h4>
	<ion-card  >
		<ion-img src="https://source.unsplash.com/random/800x600"></ion-img>
		<ion-card-header>
			<ion-card-title>
				lorem ypsum dolore sit met
		</ion-card-title>
		<ion-card-subtitle>
				lorem ypsum dolore sit met
		</ion-card-subtitle>
		</ion-card-header>
		<ion-img src="https://source.unsplash.com/random/800x600"></ion-img>
		
			<p>ola bom dia meu nome e yuri , estou aprendendo a usar o ionic</p>

	</ion-card>

	
	<h4>Catões</h4>
	<ion-card color="danger" mode="ios">
		<ion-img src="https://source.unsplash.com/random/800x600"></ion-img>
		<ion-card-title>
				lorem ypsum dolore sit met
		</ion-card-title>
			<p>ola bom dia meu nome e yuri , estou aprendendo a usar o ionic</p>

	</ion-card>
	<h4>Catões</h4>
	<ion-card color="danger" mode="md">
		<ion-img src="https://source.unsplash.com/random/800x600"></ion-img>
		<ion-card-title>
				lorem ypsum dolore sit met
		</ion-card-title>
			<p>ola bom dia meu nome e yuri , estou aprendendo a usar o ionic</p>

	</ion-card>
	-->
	<!--
  <h1>Titulo do meu App</h1>

  <h1>Botões</h1>
  <ion-button>
  	Padrão
  </ion-button>
  <ion-button href="http://google.com.br">
  	Link
  </ion-button>
  cores
  <h4>Botões</h4>
  <ion-button color="primary">
  	Prymary
  </ion-button>
  <ion-button color="secondary">
  	Secondary
  </ion-button>

  <h4>Botões expandidos</h4>
  <ion-button expand="full">
  	Full
  </ion-button>

   <h4>Botões Arredondados</h4>
  <ion-button shape="roud">
  	Botão arrendodado
  </ion-button>

   <h4>Preenchimento</h4>
  <ion-button fill="outline" color="warning" expand="block">
  	preenchimento
  </ion-button>

  <h4>Icones</h4>
  <ion-button >
  	<ion-icon slot="start" name="star"></ion-icon>
  	Icone
  </ion-button><br>

  <ion-button >
  	<ion-icon slot="icon-only" name="star"></ion-icon>
  </ion-button><br>

  <ion-button >
  	<ion-icon slot="end" name="star"></ion-icon>
  </ion-button><br>

  <h4>Tamanhos de botões</h4>
  
<ion-button size="large"  >
 Large
</ion-button><br>

<ion-button size="small" >
  Small
</ion-button><br>
-->

</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-title>
			<h4>Rodapé</h4>
		</ion-title>
	</ion-toolbar>
</ion-footer>